<div class="table-container">
  <div class="header-row row">
    <div class="cell header-cell" *ngFor="let header of attributes" [style.flex]="header === 'insight' ?  '0 0 40%' : '1 1 0'">
      {{ header | capitalize }}
    </div>
    <div class="cell button"></div>
  </div>
  <div class="data-rows">
    <div class="data-row row" draggable (onDragEnd)="droppedOutside = true" *ngFor="let insight of filteredInsights; let i = index" [dragData]="insight"  (mouseenter)="hoverRow = i" (mouseleave)="hoverRow = -1" (click)="viewInsight(insight)">
      <div class="cell data-cell" *ngFor="let attribute of attributes"  [style.flex]="attribute === 'insight' ?  '0 0 40%' : '1 1 0'" [innerHTML]="insight[attribute]"></div>
      <div class="cell button"><button mat-button (click)="updateInsight(insight)" [class.hidden]="hoverRow !== i">Edit</button></div>
    </div>
  </div>
</div>