.transform {
    transform: translateX(calc(~"-100% + 280px"));
    transition: transform 2s;
}
.nontransform {
    transform: translateX(0);
    transition: transform 2s;
}
.transformy {
    transform: translateY(20px);
    transition: transform 2s;
}
.view-insight {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    .bottom-half {
        flex: 1 1 0;
        display: flex;
        align-items: center;
        width: 100%;
        &.start{
            align-items: flex-start;
            flex-wrap: wrap;
            padding:10px;
        }
        .search-storyboard{
            box-shadow: 2px 3px #221e1e;
            height: 200px;
            width:200px;
            border: 1px solid black;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 20px;
            // &:hover{
            //     height: 210px;
            //     width: 210px;
            // }
            .sub-title{
                border-bottom: 1px solid black;
                padding: 10px 3px;
            }
            .content {
                display: flex;
                flex-direction: column;
                overflow-y:auto;
                overflow-x: hidden;
                .story-insights{
                    margin-left:2px;
                }
            }
        }
        .table-container{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 3px #221e1e;
            flex: 1 1 0;
            height: calc(~"100% - 40px");
        }
        .tile-container {
            flex: 1 1 0;
            height: calc(~"100% - 40px");
            margin-left: 20px;
        }
        .holder {
            margin: 15px;
            border: 1px solid black;
            height: 350px;
            max-height: 350px;
            overflow-y: auto;
            width: 250px;
            min-width: 250px;
            position: relative;
            .row{
                padding: 3px;
                width: calc(~"100% - 6px");
                border-bottom: 1px solid black;
                height: initial;
                display: flex;
                justify-content: space-between;
                .button {
                    flex: 0 0 115px;
                }
            }
        }
    }
}
.search {
    display: flex;
    align-items: center;
    margin: 10px 20px;

    .tags{
        margin-left: 10px;
    }
}
.row {
    display: flex;
    align-items: center;
    height: 50px;
    .cell {
        padding-right: 3px;
        padding-left: 20px;
        width: 0px;
    }
    .button {
        flex: 0 0 111px;
    }
}
.header-row {
    border: rgba(0,0,0,.42) solid 1px;
    .header-cell {
        font-size: 22px;
        font-weight: 600;
    }
}
.data-rows {
    border: rgba(0,0,0,.42) solid 1px;
    flex: 1 1 0;
    overflow-y: auto;
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    .data-row {
        border-bottom: rgba(0,0,0,.42) solid 1px;
        cursor: pointer;
        &:hover {
            background: rgba(0,0,0,.05);
        }
        .data-cell {
            font-size:20px;
            max-height: 25px;
            overflow:hidden;
            padding-right:3px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .title{
        font-size:24px;
    }
}
.view {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .titles {
        display: flex;
        justify-content: space-between;
        .toogle{
            margin-top:10px;
            margin-left:10px;
            .first-button {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .second-button {
                position: relative;
                right: 4px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        .right {
            position: relative;
            width: 270px;
           .back {
                display: flex;
                justify-content: space-between;
                width: initial;
                padding-right:10px;
                align-items: center;
                span {
                    display: flex;
                    align-items: center;
                }
            }
            .sub-title {
                margin-top:10px;
                margin-right: 20px;
                display: flex;
                align-items: center;
                i {
                    font-size: 16px;
                    cursor: pointer;
                }
            }
            .story-board-buttons {
                position: absolute;
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                button {
                    margin: 10px 21px 0px 6px;
                    width: 250px;
                }
            }
        }
    }
}
.container{
    display: flex;
    flex-wrap: nowrap;
}

.story-board {
    height: calc(~"100vh - 26px");
    max-width: calc(~"100% - 306px");
    min-width: calc(~"100% - 306px");
    background: white;
    margin-top: 2px;
    border: 1px black solid;
    padding-left:20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    .story-board-row {
        height: 100px;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left:35px;
        position: relative;
        display: flex;
        .connect-top {
            position: absolute;
            background: white;
            width: 36px;
            height: 50%;
            left: -2px;
            bottom: 0;
            border-top: 2px dashed black;
        }
        &.connect-top-row{
            border-left: 2px dashed black;
        }
        .connect-bottom {
            width: 3px;
            background: white;
            height: 50%;
            top:0;
            position: absolute;
            right: -2px;
        }
        &.connect-bottom-row {
            border-right: 2px dashed black;
            border-bottom: 2px dashed black;
        }
        .first-add-connector {
            left: -17px;
            bottom: 36px;
            position: absolute;
            height: 100px;
            display: flex;
            justify-content: center;
            width: 52px;
            align-items: center;
        }
        .add-connector {
            position: absolute;
            height: 20px;
            width: 20px;
            border: 1px solid black;
            left: 14px;
            bottom: -12px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                height: 25px;
                transform: height;
                width: 25px;
                transform: width;
                bottom: -14px;
                transform: bottom;
                left:11px;
                transform: left;
            }
            &.first {
                position: initial;
            }
            i {
                font-size:16px;
            }
        }
        .insights {
            display: flex;
            align-items: center;
            height: 100px;
            width: 250px;
            &.opac{
                opacity: .3;
            }
            .dotted-line{
                border-bottom: 2px dashed black;
                height: 2px;
                width: 50px;
                position: relative;
            }
            .panel {
                border: 1px black solid;
                border-radius: 3px;
                box-shadow: 2px 3px #221e1e;
                width: 198px;
                height: 98px;
                padding:5px;
            }
            .connector {
                border: 1px black solid;
                border-radius: 3px;
                box-shadow: 2px 3px #221e1e;
                width: 198px;
                height: 98px;
                textarea {
                    border: none;
                    height: 94px;
                    width: 194px;
                }
            }
        }
    }
}